
html, body, ul, li, h1, h2, h3 {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font: normal 13px arial, sans-serif;
}

a {
  color: #36c;
  text-decoration: none;
}

abbr {
  border: 0;
}

input, textarea, keygen, select, button {
  font: normal 13px arial, sans-serif;
  margin: 0;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: left;
}

input::--webkit-input-placeholder,
textarea::--webkit-input-placeholder {
  color: darkGray;
}

input, input[type="password"], textarea {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  border: 1px solid #d9d9d9;
  border-top: 1px solid silver;
  background: #fff;
  -webkit-user-select: text;
  cursor: auto;
}

input.focusable:hover,
input.focusable:focus,
textarea.focusable:hover,
textarea.focusable:focus {
  border: 1px solid #4d90fe;
  outline: none;
  box-shadow: inset inset 0 1px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset inset 0 1px 2px rgba(0,0,0,0.3);
}

/* button design by http://pixify.com/blog/use-google-plus-to-improve-your-ui/ */
a.button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px;
}
a.button:hover {
    color: #333;
    border-color: #c0c0c0;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active,
.active a.button {
    color: #000;
    border-color: #bbb;
    background: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#E0E0E0));
    background: -moz-linear-gradient(top,#EEE,#E0E0E0);
    box-shadow: inset 0 1px 5px #ccc;
    -moz-box-shadow: inset 0 1px 5px #ccc;
    -webkit-box-shadow: inset 0 1px 5px #ccc;
}
a.left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
a.middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f3f3f3;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
a.middle:hover,
a.right:hover { border-left: solid 1px #999 }
a.right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f3f3f3;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

header {
  background: #000;
  height: 30px;
  font: 13px/27px Arial,sans-serif;
}

#main.centered .container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

header #menu, header #secondary {
  position: absolute;
  white-space: nowrap;
  top: 0;
  height: 30px;
  z-index: 1978px;
  white-space: none;
  letter-spacing: -3px;
}

header #secondary {
  right: 0;
}

header ul li {
  letter-spacing: normal;
  border-top: 2px solid transparent;
  position: relative;
  display: inline-block;
  line-height: 27px;
  vertical-align: top;
}

header #menu li:after,
header #secondary li:before {
  background: #5b5b5b;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.14, rgb(45,45,45)),
      color-stop(0.57, rgb(91,91,91)),
      color-stop(0.79, rgb(45,45,45))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(45,45,45) 14%,
      rgb(91,91,91) 57%,
      rgb(45,45,45) 79%
  );
  position: absolute;
  top: 0;
  display: inline-block;
  content: "";
  width: 1px;
  height: 25px;
  overflow: hidden;
  font-size: 0;
}

header ul li:hover {
  background: #4c4c4c;
}

header ul li.active {
  background: #000;
  border-top-color: #DD4B39;
}

header ul li a {
  color: #ccc;
  cursor: pointer;
  text-decoration: none;
  line-height: 27px;
  padding: 0 10px;
}

header ul li.active a {
  font-weight: bold;
  color: #fff;
}

header #header-notifications a {
  width: 19px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  float: left;
  padding: 0;
  margin: 3px 4px 0 7px;
  background: #525152;
  color: #999;
  border: 1px solid #5A595a;
  border-right-color: #525152;
  border-bottom-color: #424542;
  border-left-color: #525152;
}
header #header-notifications a.active {
  background: #ce3421;
  color: #fff;
  border: 1px solid #d63421;
  border-right-color: #ce3421;
  border-bottom-color: #ad3829;
  border-left-color: #ce3421;
}

#top {
  height: 61px;
  background: #f1f1f1;
  border-top: 1px solid #d2d2d2;
}

#top #site-logo {
  float: left;
  width: 0;
  margin: 13px 0 0 0;
  height: 37px;
  padding-left: 119px;
  background: url(http://placehold.it/119x37);
  overflow: hidden;
}

#top #top-tabs {
  float: left;
  display: block;
  font-size: 0;
  margin: 15px 0 0 69px;
}

#top #top-tabs li {
  display: inline-block;
}

#top #top-tabs li a {
  padding: 5px 13px 1px 13px;
}
#top #top-tabs li a.middle,
#top #top-tabs li a.right {
  padding-left: 12px;
}
#top #top-tabs li a span {
  display: inline-block;
  width: 18px;
  height: 0;
  padding: 18px 0 0 0;
  overflow: hidden;
  background: url(../images/gplus-sprite.png);
}

#top #top-tabs #top-tab-home a span {
  background-position: 0 0;
}
#top #top-tabs #top-tab-photos a span {
  background-position: 0 -18px;
}
#top #top-tabs #top-tab-profile a span {
  background-position: 0 -36px;
}
#top #top-tabs #top-tab-circles a span {
  background-position: 0 -54px;
}
#top #top-tabs #top-tab-games a span {
  background-position: 0 -72px;
}
#top #top-tabs #top-tab-home.active a span,
#top #top-tabs #top-tab-home a:hover span {
  background-position: 0 -90px;
}
#top #top-tabs #top-tab-photos.active a span,
#top #top-tabs #top-tab-photos a:hover span {
  background-position: 0 -108px;
}
#top #top-tabs #top-tab-profile.active a span,
#top #top-tabs #top-tab-profile a:hover span {
  background-position: 0 -126px;
}
#top #top-tabs #top-tab-circles.active a span,
#top #top-tabs #top-tab-circles a:hover span {
  background-position: 0 -144px;
}
#top #top-tabs #top-tab-games.active a span,
#top #top-tabs #top-tab-games a:hover span {
  background-position: 0 -162px;
}

#top #top-search {
  float: left;
  margin: 14px 0 0 5px;
}

#top #top-search-input {
  font-size: 14px;
  height: 27px;
  margin-top: 1px;
  padding: 0 10px 0 6px;
  width: 362px;
}

#content {
  border-top: 1px solid #d2d2d2;
  margin-top: -1px;
  letter-spacing: -3px;
}

#content nav {
  width: 188px;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: top;
  position: relative;
  display: inline-block;
  letter-spacing: normal;
}

#content nav ul {
  margin: 20px 0 20px -10px;
}

#content nav ul li a {
  display: block;
  font-size: 13px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: no-wrap;
  color: #333;
  text-decoration: none;
}
#content nav ul li a:hover {
  background-color: #f1f1f1;
  color: #333;
}
#content nav ul li.active a,
#content nav ul li.active a:hover {
  background-color: inherit;
  font-weight: bold;
  color: #dd4b39;
}

#content #pane {
  display: inline-block;
  letter-spacing: normal;
  height: 100%;
  min-height: 900px;
  width: 574px;
  border: 1px solid #ebebeb;
  border-top: 1px solid transparent;
}

#content .block {
  padding: 16px 21px;
  border-bottom: 1px solid #ddd;
}

#content h2 {
  font: 18px arial, sans-serif;
  color: #333;
  white-space: no-wrap;
  font-weight: normal;
  margin-bottom: 10px;
}

#content #new-message {
  font-size: 13px;
  width: 510px;
  height: 15px;
  padding: 7px 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#content .message {
  width: 450px;
  margin: 0 44px 0 60px;
}

#content .message .avatar {
  margin: 0 0 0 -60px;
  float: left;
}

#content .message .meta .when,
#content .message .meta .to {
  color: #999;
}

#content .message .meta {
  color: #999;
}

#content .message .meta,
#content .message .text {
  line-height: 1.4em;
  font-size: 13px;
}

#content .message .user {
  font-weight: bold;
}

#content .comments {
  width: 470px;
  margin-top: 10px;
  clear: both;
}

#content .comments li {
  border-top: 1px dotted #ccc;
  padding: 7px 7px 7px 47px;
}

#content .comments .avatar {
  margin-left: -40px;
}

#content .actions {
  margin: 5px 0 0 0;
}

#sidebar {
  width: 194px;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}

#sidebar .block {
  border: 0;
  padding: 0 0 0 16px;
}

#sidebar .block h3 {
  margin: 25px 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #484848;
  font-size: 11px;
  font-weight: bold;
  border-bottom: 1px solid #ebebeb;
}

#sidebar .block .content {
  color: #666;
  line-height: 15px;
  word-wrap: break-word;
}
  