#alert-search {
    background-color: #3b84f2;
  color: white;
  width: 96%;
  margin: auto;
    margin-top: auto;
  margin-top: 30px;
  font-size: large;
  font-weight: inherit;
  border-radius: 0px;
}